@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900|Open+Sans:400,700');

html, body {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

.menu-wrap {
	position: relative;
	z-index: 100;
}

.template-width {
	width: 100%;
	max-width: 1150px;
	margin: 0 auto; 
}

.top-menu {
	background-color:  #191919;
}

.top-menu--flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.top-menu__socials {
	width: 250px;
}

.top-menu__socials--color {
	color: rgba(255, 255, 255, 0.5);
	-webkit-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}

.top-menu__socials--hover:hover {
	color: #ffffff;
}

.top-menu__user {
	padding: 15px 0;
}

.top-menu__user-border {
	border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.top-menu__sign-in {
	font-family: Montserrat, Arial, sans-serif;
	color:  rgba(255, 255, 255, 0.5);
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	padding-right: 10px;
	-webkit-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}

.top-menu__sign-in:hover {
	color: #ffffff;
}

.fa-user-circle {
	padding-right: 10px;
}

.top-menu__language {
	width: 50px;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: Montserrat, Arial, sans-serif;
	color:  rgba(255, 255, 255, 0.5);
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	background: #191919;
	-webkit-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
	outline: none;
}

.top-menu__language:hover {
	cursor: pointer;
	color: #ffffff;
} 

.fa-globe {
	color: rgba(255, 255, 255, 0.5);
	font-size: 1.5rem;
	padding: 0 10px;
}

.top-menu__arrow {
	color: rgba(255, 255, 255, 0.5);
	font-size: 1.5rem;
	margin-left: -10px;
}

.menu {
	padding-top: 25px;
}

.logo {
	font-family: Montserrat, Arial, sans-serif;
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.logo__link {
	text-decoration: none;
	color:  #ffffff;
}

.menu-list {
	width: 800px;

}

.menu-list__item {
	list-style: none;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.menu-list__link {
	padding-bottom: 25px;
	font-family: Montserrat, Arial, sans-serif;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
}

.menu-list__arrow {
	padding-left: 10px;
}

.menu-list__link:hover,
.menu-list__link:active {
	border-bottom: 4px solid #ff4081;
}

.menu-list__link:hover .menu-list__arrow,
.menu-list__link:active .menu-list__arrow {
	-webkit-transform: rotate(-90deg) translateX(-4px);
	-ms-transform: rotate(-90deg) translateX(-4px);
	-o-transform: rotate(-90deg) translateX(-4px);
	transform: rotate(-90deg) translateX(-4px);	
	-webkit-transition: transform 0.3s;
	-o-transition: transform 0.3s;
	transition: transform 0.3s;
}

.user-icons__item {
	color: #ffffff;
	font-size: 1.5rem;
	-webkit-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}

.user-icons__item:hover,
.user-icons__item:active {
	color: rgba(255, 255, 255, 0.5);
}

.user-icons__border {
	border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.user-icons--padding {
	padding: 0 10px;
}

.slider {
	position: absolute;
	top: 0;
	left: 0;
	background: url(img/bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	width: 100%;
}

.slider__link--left {
	margin-left: 5%;
}

.slider__link--right {
	margin-right: 5%;
}

.slider__arrow {
	color: #ffffff;
	font-size: 2.5rem;
	-webkit-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}

.slider__arrow:hover {
	color: rgba(255, 255, 255, 0.5);
}

.text-slider {
	padding: 215px 250px 70px;
	text-align: center;
}

.text-slider__title-add {
	font-family: Montserrat, Arial, sans-serif;
	color:  rgba(255, 255, 255, 0.5);
	font-size: 2.5rem;
	font-weight: 400;
	text-transform: uppercase;
}

.text-slider__title-main {
	font-family: Montserrat, Arial, sans-serif;
	color:  #ffffff;
	font-size: 3.5rem;
	font-weight: 900;
	text-transform: uppercase;
}

.text-slider__title-main--margin {
	margin-top: 30px;
}

.button {
	display: block;
	font-family: Montserrat, Arial, sans-serif;
	color:  #ffffff;	
	font-size: 2rem;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 30px;
	width: 170px;
}

.button--blue {
	background-color:  #303f9f;
	-webkit-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.button--circle {
	border-radius: 50px;
}

.text-slider__button--margin {
	margin: 40px auto 0;
}

.button--blue:hover {
	background-color:  #4e5fc9;
}

.button--blue:active {
	transform: translate(0, 2px);
}

.author {
	margin-top: 80px;
}

.author__img {
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.author__name {
	display: block;
	text-decoration: none;
	font-family: Montserrat, Arial, sans-serif;
	color:  #ffffff;
	font-size: 1.1rem;
	font-weight: 700;
	letter-spacing: 1px;
	margin: 20px 0 0;
}

.author__name:hover,
.author__name:active {
	text-decoration: underline;
}

.author__date {
	font-family: Montserrat, Arial, sans-serif;
	color:  rgba(255, 255, 255, 0.5);
	font-size: 1rem;
	font-weight: 400;
	margin: 15px 0 0;
}

.comments {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	width: 230px;
    margin: 35px auto 0;
}

.comments__text {
	font-family: Montserrat, Arial, sans-serif;
	color:  rgba(255, 255, 255, 0.5);
	font-size: 1rem;
	font-weight: 400;
	text-decoration: none;
}

.comments__icon {
	padding-right: 10px;
}

.comments__text:hover,
.comments__text:active {
	text-decoration: underline;
}